<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error | Echo Relay</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="MaxTac" />
    <meta name="keywords" content="error page, feedback" />
    <meta
      name="description"
      content="Error page for Echo Relay with feedback form."
    />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Cormorant+Upright:wght@400;700&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>

    <header id="header">
      <nav id="primary-header" class="navbar navbar-expand-lg py-4">
        <div class="container-fluid padding-side">
          <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="/">
              <img
                src="assets/images/echorelay.png"
                class="logo img-fluid"
                alt="Echo Relay Logo"
              />
            </a>
            <button
              class="navbar-toggler border-0 shadow-none"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#bdNavbar"
              aria-controls="bdNavbar"
            >
              <svg class="navbar-icon" width="60" height="60">
                <use xlink:href="#navbar-icon"></use>
              </svg>
            </button>
            <div class="header-bottom offcanvas offcanvas-end" id="bdNavbar">
              <div class="offcanvas-header">
                <button
                  type="button"
                  class="btn-close btn-close-black"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav align-items-center mb-2 mb-lg-0">
                  <li class="nav-item px-3">
                    <a class="nav-link p-0" aria-current="page" href="/">Upload</a>
                  </li>
                  <li class="nav-item px-3">
                    <a class="nav-link p-0" href="/#ofosss">Other Services</a>
                  </li>
                  <li class="nav-item px-3">
                    <a class="nav-link p-0" href="/">MaxTac</a>
                  </li>
                  <li class="nav-item px-3">
                    <a class="nav-link p-0" href="receive">Receive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section id="about-us" class="padding-large">
      <div class="text-center" data-aos="fade-up">
        <h1 class="display-1">
          Error <span class="display-1 tit404">404</span>
        </h1>
      </div>
      <div class="text-center" data-aos="fade-up">
        <p class="lead display-5 mt-4">
          Please
          <b><span style="cursor: pointer" onclick="history.back(-1)">Go Back</span></b> or <b><a href="/">Go Home</a></b>, You're Drunk
        </p>
      </div>
    </section>

    <section id="about-us" class="padding-large">
      <div class="text-center" data-aos="fade-up">
        <div class="center">
          <h3 class="display-4">Was it a fault on our part?</h3>
        </div>
        <div class="contact-form">
          <form id="relayForm" action="" method="post">
            <input
              id="name"
              type=""
              placeholder="Your Name or Alias"
              required
            />
            <input
              id="emailAddress"
              type="email"
              name=""
              id=""
              placeholder="Email Address"
              required
            />
            <input id="subject" type="" placeholder="Subject" required />
            <textarea
              id="message"
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Explain the matter"
              required
            ></textarea>
            <input
              type="button"
              value="Send"
              class="send-btn"
              onclick="bugin404()"
            />
          </form>
        </div>
      </div>
    </section>

    <footer class="text-white footerinda404">
      <div class="text-center" data-aos="fade-up">
        <p>
          &copy; MaxTac | MIT License |
          <a href="mailto:madhavnair700@gmail.com" class="text-white">madhav@maxtac.tech</a>
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/script.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
