<!DOCTYPE html>
<html>
<head>
  <title>Success | Echo Relay</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/vendor.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Sora:wght@100..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="preloader">
    <div class="loader"></div>
  </div>

  <header id="header">
    <nav id="primary-header" class="navbar navbar-expand-lg py-4">
      <div class="container-fluid padding-side">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/echorelay.png" class="logo img-fluid">
          </a>
          <button class="navbar-toggler border-0 d-flex d-lg-none order-3 p-2 shadow-none" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false">
            <svg class="navbar-icon" width="60" height="60">
              <use xlink:href="#navbar-icon"></use>
            </svg>
          </button>
          <div class="header-bottom offcanvas offcanvas-end " id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
              <button type="button" class="btn-close btn-close-black mt-2" data-bs-dismiss="offcanvas"
                aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body align-items-center justify-content-center">
              
              <ul class="navbar-nav align-items-center mb-2 mb-lg-0">
                <li class="nav-item px-3">
                  <a class="nav-link active p-0" aria-current="page" href="index.html">Upload</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link p-0" href="index.html">Other Services</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link p-0" href="index.html">MaxTac</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section id="about-us" class="padding-large">
    <script src="./js/success.js"></script>
    <div class="container-fluid padding-side" data-aos="fade-up">
          <center>
            <p style="font-size: 60px;">File Uploaded</p>
          </center>
            <div class="widget-centered">
                <div class="inlinin">
                <div>
                  <input class="downloadlink" type="text" value="<%= downloadLink %>" id="dlink" readonly />
                </div>
                <div class="buttcont">
                    <button onclick="copyshi()" class="copy-btn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                              <path d="M3 10C3 8.11438 3 7.17157 3.58579 6.58579C4.17157 6 5.11438 6 7 6H13C14.8856 6 15.8284 6 16.4142 6.58579C17 7.17157 17 8.11438 17 10V18C17 19.8856 17 20.8284 16.4142 21.4142C15.8284 22 14.8856 22 13 22H7C5.11438 22 4.17157 22 3.58579 21.4142C3 20.8284 3 19.8856 3 18V10Z" fill="white"/>
                              <path opacity="0.5" d="M7.00439 5.00172C7.31535 5 7.64667 5 8.00007 5H12.0001C14.8285 5 16.2427 5 17.1214 5.87868C18.0001 6.75736 18.0001 8.17157 18.0001 11V17C18.0001 17.3534 18.0001 17.6847 17.9984 17.9957C19.2392 17.9778 19.9425 17.886 20.4143 17.4142C21.0001 16.8284 21.0001 15.8856 21.0001 14V6C21.0001 4.11438 21.0001 3.17157 20.4143 2.58579C19.8285 2 18.8857 2 17.0001 2H11.0001C9.11446 2 8.17165 2 7.58586 2.58579C7.1141 3.05755 7.02227 3.76086 7.00439 5.00172Z" fill="white"/>
                            </g>
                          </svg>
                </button>
                </div>
            </div>
            <div class="delBtn">
              <button onclick="deleteFile()" style="background-color: red;">Delete</button>
            </div>
              </div>              
            <br>
          </div>
  </section>

  <section data-aos="fade-up" class="contact" id="contact">
    <div class="center">
        <h2 class="display-3 text-center fw-normal col-lg-4 offset-lg-4" style="color: #fff; font-size: 50px;">We are Nonprofit</h2>
        <h5>Would you like to support us?</h5>
    </div>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="maxtac" data-description="Support me on Buy me a coffee!" data-message="Donate?." data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    <div class="contact-form">
      <form id="maxTacForm" action="" method="post">
        <a href="https://buymeacoffee.com/maxtac">
        <input type="button" value="Buy us a beer" class="send-btn">
      </a>
      </form>
    </div>
  </section>
  
    </div>
    <hr class="text-white">
    <div class="container-fluid padding-side padding-small" data-aos="fade-up">
      <footer class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h4 class="display-6 fw-normal">Quick links</h4>
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="p-0 "> Home </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> About </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> Creators </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> Privacy Policy</a></li>
            <li class="nav-item"><a href="#" class="p-0 "> MaxTac </a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 offset-lg-1 mb-4 mb-lg-0">
          <h4 class="display-6 fw-normal">Services</h4>
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="p-0 "> Spa </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> Pool </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> Yoga </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> Gym</a></li>
            <li class="nav-item"><a href="#" class="p-0 "> News </a></li>
            <li class="nav-item"><a href="#" class="p-0 "> Terms & Conditions </a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 offset-lg-1 mb-4 mb-lg-0">
          <p class="m-0"><b>MIT License</b></p>
          <p>madhav@maxtac.tech</p>
          <p>FOSS by <b>MaxTac</b></p>
        </div>
      </footer>
    </div>
  </section>

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/upload.js"></script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/success.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>