@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");

:root {
    --primary-color: #fff;
    --secondary-color: #F9F6F3;
    --black-color: #10101a;
    --dark-color: #CECECE;
    --primary-color-200: #E8F0F1;
    --primary-color-400: #c4e9ed;
    --gray-color: #777F81;
    --light-color: #fdfdfd;
  
    /* bootstrap color-scheme */
    --bs-dark-rgb: 80, 80, 80;
    --bs-gray-100: #EAE5DD;
    --bs-gray-300: #DCDCDC;
    --bs-light-rgb: rgba(255, 255, 255, 1);
    --bs-body-color-rgb: 53, 53, 53;
    --bs-primary-rgb: 209, 104, 6;
    --bs-secondary-rgb: 249, 246, 243;
  }
  
  /* Fonts */
  :root {
    --heading-font: "Roboto", serif;
    --body-font: "Roboto", serif;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 164%;
    letter-spacing: 0.32px;
    color: var(--dark-color);
    margin: 0;
    background-color: #10101a;
  }
  
  .linespace {
    line-height: 37px;
  }

  .ertit {
    align-self: center;
    align-items: center;
  }

  .container {
    height: 80vh;
    width: 1000vh;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #10101a;
  }
 
  .dropzone {
    background-color: #000000;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

  .footerinda404 {
    height: 30vh;
    width: auto;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #10101a;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 1000px;
    height: 500px;
    background-color: #1a1a21;
    padding: 10px 30px 40px;
  }
  
  
  .card h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    
  }
  
  .drop_box {
    margin: 10px 0;
    padding: 30px;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
    background-color: #10101a;
  }

  .drop-area {
    border: 2px dashed #10101a;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #888;
}


/* Slider container styles */
.slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-btn {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.slider-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.file-item {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f9f9f9;
  font-size: 14px;
}

.uprec.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.drop-area.hover {
  border: 2px dashed #007bff;
  background-color: #10101a;
  transition: background-color 0.3s ease;
}

#fileNames {
  display: none;
  max-height: 300px; 
  overflow-y: auto; 
  width: 800px;
  border: 1px dashed blue;
  padding: 10px;
  background-color: #10101a;
}


.drop-area p {
    margin: 0;
    font-size: 18px;
}

  
  .drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }

  

.projects {
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.project {
    border: 2px solid cyan;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 20px;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background: rgba(79, 46, 46, 0.15); 
}

.flex {
  display: flex;
}

.projects__grid {
    max-width:max-content;
    margin: 0 auto;
    display:flex;
    grid-gap: 2em;
  }

  .project {
    padding: 0.1em;
    text-align: center;
    box-shadow: #000;
    transition: transform 0.0s linear;
  }

  .project__description {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  
  
  .drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
  }
  
  .btn {
    text-decoration: none;
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }

  ul {
    list-style: none;
    word-wrap: break-word;
  }
  
  /* Pages */
  
  .pages {
    max-height: 200px;
    max-width: 200px;
    width: 10px;
    margin: 0;
    padding: 0;
  }
  
  .page {
    height: 100px;
    width: 10px;
  }
  
  /* Login Page */
  
  .login.page {
    background-color: #000;
  }
  
  .login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
  
    text-align: center;
    top: 50%;
    width: 100%;
  }
  
  .login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
  
  .login.page .title {
    font-size: 200%;
  }
  
  .login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
  }
  
  .login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
  }
  
  /* Chat page */
  
  .chat.page {
    display: none;
  }
  
  /* Font */
  
  .messages {
    font-size: 150%;
  }
  
  .inputMessage {
    font-size: 100%;
  }
  
  .log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
  }
  
  /* Messages */
  
  .chatArea {
    height: 100%;
    padding-bottom: 60px;
  }
  
  .messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
  }
  
  .message.typing .messageBody {
    color: gray;
  }
  
  .username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
  }
  
  /* Input */
  
  .inputMessage {
    border: 10px solid #000;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
  }


  .msger {
    padding: 100px 100px 100px 100px;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 1525px;
    border: 2px solid #10101a;
    border-radius: 5px;
  }
  
  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #10101a;
    background: #10101a;
    color: #fff;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #10101a;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #10101a;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #10101a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #10101a;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #10101a;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }
  
  .msger-chat {
    height: 500px;
    background-color: #10101a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  


  #transitionToDaDelete {
    display: none;
  }

  .toDaLeft {
    margin-left: -400px;
  }

  .delBtn {
    margin-left: -800px;
  }

  .fileUploaded {
    margin-top: -100px;
  }

  .deletesucc {
    height: 70px;
    width: 350px;
    align-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 4px 4px #555;
  line-height: 42px;
  display:inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor:pointer;
  }

  .deletesucc:hover{
    background-color: #10101a;
    align-content: center;
  color: #fff;
  box-shadow: 4px 4px red;
  }

  .upload {
    height: 50px;
    width: 150px;
    align-content: center;
    box-shadow: 4px 4px #555;
  line-height: 42px;
  display:inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor:pointer;
  }

  .upload:hover{
    background-color: #10101a;
    align-content: center;
  color: #fff;
  box-shadow: 4px 4px #00ff00;
  }

  .uprec .upload{
    margin-right: 10px;
    margin-left: -10px;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
  }

  .uprec .receive{
    margin-right: -10px;
    margin-left: 10px;
  }

  .receive {
    height: 50px;
    width: 150px;
    box-shadow: 4px 4px #555;
  line-height: 42px;
  display:inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor:pointer;
  }

  .receive:hover{
    background-color: #10101a;
    align-content: center;
  color: #fff;
  box-shadow: 4px 4px #00ff00;
  }

  .tios {
    height: 80px;
    width: 500px;
    border-radius: 7px;
    align-content: center;
    box-shadow: 4px 4px #555;
  line-height: 42px;
  display:inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor:pointer;
  }

  .tios:hover{
    background-color: #10101a;
    align-content: center;
  color: #fff;
  box-shadow: 4px 4px #00ff00;
  }
  
  .btn:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
  }
  .form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
  }
  
  
  p {
    color: #fff;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  
  a:hover {
    color: var(--primary-color);
  }
  
  .text-light {
    color: var(--light-color) !important;
  }
  
  .text-primary {
    color: var(--primary-color) !important;
  }
  
  .text-black {
    color: var(--black-color) !important;
  }

  /* 2.2 Background Color
  /*----------------------------------------------*/
  .bg-light {
    background-color: var(--light-color) !important;
  }
  
  .bg-primary {
    background-color: var(--primary-color) !important;
  }
  
  .bg-gray {
    background-color: var(--bs-gray-100) !important;
  }
  
  /*--------------------------------------------------------------
  /** 2.3 Section
  --------------------------------------------------------------*/
  /* - Section Padding
  --------------------------------------------------------------*/
  .padding-small {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  
  .padding-medium {
    padding-top: 8em;
    padding-bottom: 8em;
  }
  
  .padding-large {
    padding-top: 8em;
    padding-bottom: 8em;
  }
  
  .padding-footer {
    margin-bottom: 10px;
  }
  
  @media (max-width: 1400px) {
    .padding-side {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  
  @media (max-width: 1200px) {
    .padding-side {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  
  @media (max-width: 992px) {
    .padding-side {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .padding-side {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .padding-large {
      padding-top: 15em;
    }
  }
  
  @media (max-width: 576px) {
    .padding-side {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .padding-large {
      padding-top: 18em;
    }
  }
  
  /* - Section Margin
  --------------------------------------------------------------*/
  .margin-small {
    margin-top: 8.125em;
    margin-bottom: 8.125em;
  }
  
  .margin-medium {
    margin-top: 10em;
    margin-bottom: 10em;
  }
  
  .margin-large {
    margin-top: 12em;
    margin-bottom: 12em;
  }
  
  
  /* - Section Title
  --------------------------------------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-family: var(--heading-font);
    text-transform: capitalize;
    font-weight: 400;
  }
  
  /* Animation */
  @media (min-width: 200px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  /* Animate Slide */
  @keyframes slide {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slide {
    -webkit-animation-name: slide;
    animation-name: slide;
  }
  
  /*--------------------------------------------------------------
  /** 2.4 Buttons
  --------------------------------------------------------------*/
  .btn {
    --bs-btn-padding-x: 2.4rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    text-transform: capitalize;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
  }
  
  /* - Primary Buttons
  --------------------------------------------------------------*/
  .btn-primary {
    --bs-btn-color: #10101a;
    --bs-btn-bg: #10101a;
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-color: var(--dark-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--dark-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--dark-color);
    --bs-btn-disabled-bg: var(--secondary-color);
    --bs-btn-disabled-border-color: var(--secondary-color);
  }
  
  /* - Outline Buttons
  --------------------------------------------------------------*/
  .btn-outline-primary {
    --bs-btn-color: var(--secondary-color);
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-color: var(--dark-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--dark-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--secondary-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--secondary-color);
    --bs-gradient: none;
  }
  
  /* - Button Hover Effects
  ------------------------------------------------------------- */
  .btn-arrow {
    position: relative;
    transition: background-color 300ms ease-out;
  }
  
  .btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
  }
  
  .btn-arrow:hover span {
    transform: translate3d(-0.7rem, 0, 0);
  }
  
  .btn-arrow svg {
    position: absolute;
    right: 0;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
  }
  
  .btn-arrow:hover svg {
    opacity: 1;
    right: -1.6rem;
  }
  
  
  /*--------------------------------------------------------------
  /** 3.CONTENT ELEMENTS
  --------------------------------------------------------------*/
  
  /* Dropdown
  ------------------------------------------------------------- */
  .dropdown-item {
    color: var(--dark-color);
    text-transform: capitalize;
  }
  
  .dropdown-item.active,
  .dropdown-item:hover,
  .dropdown-item:active {
    color: var(--dark-color);
    background-color: var(--secondary-color);
  }
  
  /* Form
  ------------------------------------------------------------- */
  .form-control:focus,
  .form-select:focus {
    border-color: var(--dark-color);
    outline: 0;
    box-shadow: none;
  }
  
  input,
  select,
  textarea {
    border-color: var(--dark-color);
    outline: 0;
    box-shadow: none;
  }
  
  select:focus {
    box-shadow: none;
  }
  
  /* Svg Color
  ------------------------------------------------------------- */
  svg.light-color {
    color: var(--light-color);
  }
  
  svg.dark-color {
    color: var(--dark-color);
  }
  
  svg.color {
    color: #ECB27B;
  }
  
  svg.primary-color {
    color: var(--primary-color);
  }
  
  svg.social {
    color: #ECB27B;
  }
  
  svg.social:hover {
    color: var(--primary-color);
  }
  
  
  
  /* Swiper
  ------------------------------------------------------------- */
  
  /* room */
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
  
  .room-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);
  }
  
  .room-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
  }
  
  /* gallery */
  .main-slider-button-next.swiper-button-disabled,
  .main-slider-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
  }
  
  
  /* modal video override
  ------------------------------------------------------------- */
  .modal-dialog {
    max-width: 800px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .modal-content {
    padding: 0;
    background-color: #f5f3ef;
    border: none;
    border-radius: 0
  }
  
  
  /* Preloader
  ------------------------------------------------------------- */
  .preloader {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    background: #000;
  }
  
  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #D16806;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ECB27B;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f7dac1;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /*----------------------------------------------*/
  /* 4 SITE STRUCTURE */
  /*----------------------------------------------*/
  
  /* 4.1 Header
  /*----------------------------------------------*/
  
  a.nav-link {
    text-transform: capitalize;
    color: var(--dark-color);
  }
  
  a.nav-link:focus {
    color: var(--dark-color);
  }
  
  a.nav-link.active,
  a.nav-link:hover {
    color: var(--primary-color) !important;
    outline: none;
  }
  
  #primary-header .dropdown .search::after {
    content: none;
  }
  
  #primary-header .search-dropdown .dropdown-menu {
    width: 260px;
  }
  
  #primary-header .search-dropdown .dropdown-menu input {
    min-width: 100%;
  }
  
  #primary-header .search-dropdown .dropdown-menu button {
    padding: 0 12px;
    min-height: -webkit-fill-available;
    border-radius: 0.25rem;
  }
  
  @media (max-width: 999px) {
    a.nav-link {
      font-size: 30px;
      padding: 15px 0 15px 0 !important;
    }
  }
  
  
  /* 4.2 Billboard
  /*----------------------------------------------*/
  
  /* date */
  div.datetime-container,
  div.datetime-container * {
    box-sizing: border-box;
    font-family: var(--body-font);
  }
  
  div.datetime-container button.date,
  div.datetime-container button.time {
    background-color: transparent;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    text-transform: capitalize;
    text-align: start;
    padding: 8px 20px;
    color: var(--gray-color);
    letter-spacing: 0.1rem;
  }
  
  div.datetime-container button>span {
    display: inline-block;
    margin: 0 -6px;
  }
  
  div.datetime-container button span.week-day {
    font-size: 16px;
    text-align: right;
  }
  
  div.datetime-container button span.week-day::after {
    content: ",";
    display: inline-block;
  }
  
  div.datetime-container button span.month {
    font-size: 16px;
    text-align: right;
  }
  
  div.datetime-container button span.hours,
  div.datetime-container button span.month-day {
    font-size: 16px;
    text-align: center;
    width: 45px;
  }
  
  .month br {
    display: none;
  }
  
  @media (max-width: 1500px) {
    div.picker {
      width: max-content;
    }
  }
  
  
  /* 4.3 Rooms Section
  /*----------------------------------------------*/
  .room-item img.post-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .echoimg {
    
    height: 500px;
    width: 550px;
  }
  
  .room-item:hover img.post-image {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .product-description {
    opacity: 0;
    bottom: -125px;
    transition: all 0.5s ease-in-out;
  }
  
  .room-item:hover .product-description {
    opacity: 1;
    bottom: 20px;
  }
  
  @media only screen and (min-width:770px) and (max-width: 1400px) {
    .product-description {
      bottom: -180px;
    }
  }
  
  
  /* 4.4 Services Section
  /*----------------------------------------------*/
  
  .service {
    border: 1px solid #F4E2D8;
    transition: all 0.3s ease-in-out;
  }
  
  .service:hover {
    border: 1px solid var(--primary-color);
  }
  
  
  /* 4.5 Blog Section
  /*----------------------------------------------*/
  
  .blog-post img.blog-img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .blog-post:hover img.blog-img {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  
  /*----------------------------------------------*/
  /* 5 PAGES STYLE */
  /*----------------------------------------------*/
  
  /*--------------------------------------------------------------
  5.1 About page 
  --------------------------------------------------------------*/
  
  .breadcrumb-item+.breadcrumb-item::before {
    color: var(--dark-color);
  }
  
  svg.play-icon {
    animation: play 1.5s alternate infinite ease-in;
  }
  
  @keyframes play {
    0% {
      transform: scale(.8);
    }
  
    100% {
      transform: scale(1.1);
    }
  
  }
  
  /*--------------------------------------------------------------
    5.2 Blog page 
    --------------------------------------------------------------*/
  .pagination {
    --bs-pagination-color: var(--black-color);
    --bs-pagination-hover-color: #fff;
    --bs-pagination-hover-bg: var(--primary-color);
    --bs-pagination-hover-border-color: var(--primary-color);
    --bs-pagination-focus-color: #fff;
    --bs-pagination-focus-bg: var(--primary-color);
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-bg: var(--primary-color);
    --bs-pagination-active-border-color: var(--primary-color);
  }
  
  
  /*--------------------------------------------------------------
   5.3 Booking page 
    --------------------------------------------------------------*/
  .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .form-check-input:focus {
    box-shadow: none;
  }
  
  /*--------------------------------------------------------------
   5.4 Gallery page 
    --------------------------------------------------------------*/
  button.filter-button {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
  }
  
  button.filter-button.active,
  button.filter-button:hover {
    color: var(--bs-light);
    background: var(--primary-color);
  }
  
  
  /*--------------------------------------------------------------
   5.5 Reviews page
  --------------------------------------------------------------*/
  
  .reviews-components {
    box-shadow: 0px 12px 90px rgba(12, 12, 12, 0.06);
  }
  
  iconify-icon.quote {
    font-size: 60px;
    color: var(--primary-color);
  }
  
  .rate {
    color: var(--primary-color);
  }
  
  
  
  /*--------------------------------------------------------------
  5.6 FAQs page 
  --------------------------------------------------------------*/
  
  /* accordian style override  */
  
  .accordion {
    --bs-accordion-border-color: var(--primary-color);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-btn-icon: url('https://api.iconify.design/ion/caret-down.svg?color=%23d06051&width=30');
    --bs-accordion-btn-active-icon: url('https://api.iconify.design/ion/caret-down.svg?color=%23d06051&width=30');
    --bs-accordion-border-radius: 0px;
  }
  
  .accordion-header {
    margin-bottom: 0;
    border-top: 1px solid var(--primary-color);
  }
  
  .accordion-button {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    color: var(--heading-color);
    line-height: var(--heading-line-height);
    letter-spacing: 0.065rem;
    text-transform: uppercase;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: var(--heading-color);
    background-color: transparent;
    box-shadow: none;
  }

  .cent {
    justify-content: center;
  }

  .delBtn {
    margin-top: 5px;
    padding: 10px;
  }

  .tit404 {
    font-family: "Shadows Into Light", cursive;
  }

.light-theme{
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 97%);

    --action-primary: hsl(214, 32%, 91%);
    --action-secondary: hsl(210, 38%, 95%);

    --foreground-primary: hsl(218, 23%, 23%);
    --foreground-secondary: hsl(216, 15%, 52%);
    --foreground-tertiary: hsl(214, 20%, 69%);

    --accent: hsl(229, 76%, 66%);
}

.dark-theme{
    --background-primary: hsl(218, 23%, 23%);
    --background-secondary: hsl(220, 26%, 14%);

    --action-primary: hsl(216, 15%, 52%);
    --action-secondary: hsl(218, 23%, 23%);

    --foreground-primary: hsl(210, 38%, 95%);
    --foreground-secondary: hsl(211, 25%, 84%);
    --foreground-tertiary: hsl(214, 20%, 69%);

    --accent: hsl(229, 76%, 66%);
}

:root{

    --white: hsl(0, 0%, 100%);

    --fs-base: .85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: .875rem;
    --fs-5: .75rem;

    --padding-y: 5rem
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img, button{ display: block; }

a, span{ display: inline-block; }

button{
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

html{
    font-family: "Inter", sans-serif;
    font-size: var(--fs-base);
    line-height: 1.5;
}

:focus{ outline-offset: 4px; }

::-webkit-scrollbar-thumb{
    background: var(--accent);
    border-radius: 20px;
    border: 4px solid;
}

.light-theme::-webkit-scrollbar-thumb{ border-color: hsl(0, 0%, 90%); }
.light-theme::-webkit-scrollbar-track{ border-color: hsl(0, 0%, 90%); }

.dark-theme::-webkit-scrollbar-thumb{ border-color: hsl(219, 27%, 20%); }
.dark-theme::-webkit-scrollbar-track{ border-color: hsl(219, 27%, 20%); }

.dark-theme .btn-primary:hover{ background-color: #fff; }

.dark-theme .blog-topic{
    background: var(--action-primary);
    color: var(--foreground-secondary);
}

.dark-theme .load-more:hover{ color: var(--white); }
.dark-theme .aside .h2 { color: var(--foreground-primary); }

.h1{
    font-size: var(--fs-1);
    font-weight: 900;
}

.h2{ font-size: var(--fs-2);}
.h3{ font-size: var(--fs-3);}
.h4{ font-size: var(--fs-4);}

    .h1, .h2, .h3, .h4 { 
        display: block;
        color: var(--foreground-primary);
    }

    .h2, .h3, .h4 { font-weight: 700;}

.text-small{ font-size: var(--fs-4);}
.text-tiny{ font-size: var(--fs-5);}

.container{
    margin-inline: auto;
    margin: auto;
    padding: 0 15px;
}

.btn{
    min-width: 10rem;
    border-radius: 180px;
}

.btn-primary{
    background: #000;
    color: var(--white);
    height: 80px;
    width: 500px;
    align-content: center;
    border-radius: 7px;
    padding: .6875rem 1.1875rem;
  box-shadow: 4px 4px #555;
  line-height: 42px;
  display:inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor:pointer;
}

    .btn-primary:hover{
      background-color: #000;
      color: #fff;
      box-shadow: 4px 4px #00ff00;
    }

.btn-secondary{
    background: var(--action-secondary);
    color: var(--foreground-secondary);
    padding: 0.5rem 1rem;
    border: 3px solid var(--foreground-tertiary);
    transition: .5s;
}

    .btn-secondary:hover{ border-color: var(--accent);}

/*HEADER*/


header{ background: var(--background-primary);}
    header .flex-wrapper{ display: none; }

    header .btn-group{
        display: flex;
        align-items: center;
        gap: 15px;
    }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.logo-light, .logo-dark{ display: none; }
.light-theme .logo-light, .dark-theme .logo-dark{ display: block; }

.theme-btn-mobile, .nav-menu-btn, .nav-close-btn{
    background: var(--action-secondary);
    color: var(--foreground-tertiary);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    transition: .5s;
}

    :is(.theme-btn-mobile, .nav-menu-btn, .nav-close-btn):hover{
        background: var(--accent);
        color: var(--white);
    }

    .theme-btn-mobile ion-icon{ display: none; }
        .theme-btn-mobile.light .sun, .theme-btn-mobile.dark .moon{ display: block; }

.mobile-nav{
    position: fixed;
    inset: 0;
    background: var(--background-primary);
    padding: 70px 20px;
    overflow: auto;
    overscroll-behavior: contain;
    transform: translateX(100%);
    visibility: hidden;
    transition: .5s cubic-bezier(1, 0, 0.30, 0.70);
    z-index: 10;
}

    .mobile-nav.active{
        transform: translateX(0);
        visibility: visible;
    }
    
    .mobile-nav .wrapper{
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        border-bottom: 1px solid var(--action-primary);
    }

    .mobile-nav .nav-title{ margin-bottom: 1rem; }
    .mobile-nav .nav-item{ margin-bottom: 0.5rem;}

    .mobile-nav .nav-link{
        font-size: var(--fs-3);
        color: var(--foreground-secondary);
        transition: color .5s;
    }

        .mobile-nav .nav-link:hover{ color: var(--accent);}

.nav-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}

/*HERO */

.hero{
    background: var(--background-primary);
    padding-top: 2rem;
    padding-bottom: var(--padding-y);
    text-align: center;
}

    .hero .h1{
        margin-bottom: 1rem;
        line-height: 1.6;
    }

    .hero b{
        color: var(--accent);
        font-weight: inherit;
    }

    .hero .h3{
        color: var(--foreground-secondary);
        margin-bottom: 2rem;
    }

    .hero .btn-group{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        text-align: center;
    }

    .hero .right{ display: none;}

/*BLOG*/

.main{
    background: var(--background-secondary);
    padding: var(--padding-y) 0;
}

.blog .h2{
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: center;
}

.blog-card-group{ margin-bottom: 3rem; }

.blog-card{
    background: var(--background-primary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 16px 10px hsla(0, 0%, 0%, .05);
    transition: .25s ease;
}

    .blog-card:hover{
        transform: translateY(-2px);
        box-shadow: 0 10px 10px hsla(0, 0%, 0%, .1);
    }

    .blog-card .h3{
        line-height: 1.4;
        margin-bottom: 1rem;
    }

        .blog-card .h3:hover{
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }

.blog-card-banner{ display: none; }
.blog-content-wrapper{ 
  padding: 10px 5px;
  width: 700px;
 }

/* File Names Container */
.file-names-container {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #10101a;
}

/* File Item */
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
  background-color: #10101a;
}

/* Remove bottom border for the last file */
.file-item:last-child {
  border-bottom: none;
  
}

/* File Name */
.file-name {
  font-weight: 500;
  color: #fff;
  flex: 1;
  background-color: #10101a;

}

/* File Size */
.file-size {
  color: #555;
  margin-right: 10px;
  font-size: 13px;
  font-style: italic;
  background-color: #10101a;

}

/* delete files button  */
.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  background-color: #10101a;
  transition: transform 0.2s ease-in-out;
}



.blog-topic{
    background: var(--action-secondary);
    color: var(--foreground-secondary);
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 1rem;
}

    .blog-topic:hover{
        background: var(--foreground-secondary);
        color: var(--action-secondary);
    }

.blog-text, .profile-wrapper{ display: none; }

.blog .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.blog .h4{ color: var(--foreground-secondary); }
    .blog .h4:hover { color: var(--accent); }

.blog .text-small{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--foreground-tertiary);
}

.blog .separator{
    background: var(--foreground-tertiary);
    margin-inline: 3px;
    margin: 0 3px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
}

.blog ion-icon{ --ionicon-stroke-width: 50px;}

.load-more{
    margin-inline: auto;
    margin: auto;
    background: var(--foreground-secondary);
    color: var(--background-secondary);
    padding: 0.6875rem 1.1875rem;
    transition: .5s;
}

    .load-more:hover{ background: var(--accent);}

/*ASIDE*/

.aside{ display: none; }

/*FOOTER*/

footer{ background: var(--background-primary);}

    footer .container{
        padding: var(--padding-y) 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    footer .wrapper{ text-align: center; }

.footer-logo{ margin-bottom: 10px; }

.footer-text{
    color: var(--foreground-secondary);
    max-width: 300px;
    margin-inline: auto;
    margin: auto;
}

#footer {
  margin-top: 650px;
}

.footer-title{
    color: var(--foreground-primary);
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.footer-link{ color: var(--foreground-primary);}
    .footer-link:hover { color: var(--accent);}

.copyright{
    color: var(--foreground-secondary);
    font-size: var(--fs-4);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--action-primary);
}

    .copyright a{
        color: var(--accent);
        font-weight: 500;
    }
        .copyright a:hover{ text-decoration: underline;}

/*MEDIA QUERIES*/

@media (min-width: 550px){
    :root{ --fs-base: .90rem; }

    .blog-card{
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 20px;
    }

    .blog-card-banner{
        display: block;
        overflow: hidden;
        width: 400px;
        border-radius: 5px;
    }

    .blog-banner-img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

@media (min-width: 650px){
    :root{ --fs-1: 2.25rem; }

    .container{ padding: 0 30px; }

    .navbar{ padding: 30px 0;}

    .blog .h2{
        position: relative;
        text-align: left;
        padding-left: 2rem;
    }

        .blog .h2::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: var(--action-primary);
            width: 5px;
            height: 100%;
            border-radius: 5px;
        }

        .blog .wrapper-flex{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }

        .blog .wrapper{
            flex-direction: column;
            align-items: start;
            gap: 0;
        }

    .blog-text, .profile-wrapper{ display: block; }

    .blog-text{
        color: var(--foreground-secondary);
        font-size: var(--fs-4);
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    .profile-wrapper{
        width: 56px;
        height: 56px;
        background: var(--action-primary);
        padding: 3px;
        border-radius: 50%;
    }

    .profile-wrapper img{ border-radius: 50%; }

    footer .container{
        padding: var(--padding-y) 30px;
        grid-template-columns: 2fr 1fr 1fr;
    }

    footer .wrapper{ text-align: left; }

    .footer-text{ margin: 0; }
}

@media (min-width: 768px){

    .container{ max-width: 800px; }
}

@media (min-width: 1024px){

    .container{ max-width: 1150px; }

    header .btn-group { display: none; }

    header .flex-wrapper{
        display: grid;
        gap: 30px;
    }

    .desktop-nav{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .desktop-nav .nav-link{
        color: var(--foreground-secondary);
        font-weight: 700;
    }

        .desktop-nav .nav-link:hover{ color: var(--accent); }

    .theme-btn-desktop{
        position: relative;
        background: var(--background-secondary);
        color: var(--white);
        width: 52px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
    }

        .theme-btn-desktop.light{ background: linear-gradient(45deg, hsl(7, 100%, 51%), hsl(46, 100%, 65%)); }
        .theme-btn-desktop.dark{ background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%)); }

        .theme-btn-desktop::before{
            content: '';
            position: absolute;
            background: var(--white);
            width: 21px;
            height: 21px;
            border-radius: 30px;
            top: 50%;
            left: 3px;
            transform: translateY(-50%);
            box-shadow: 0 2px 10px -2px hsla(0, 0%, 0%, .05);
            z-index: 2;
        }

            .theme-btn-desktop.dark::before{ left: calc(100% - 24px); }

    .hero{ text-align: left; }

        .hero .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 50px;
        }

        .hero .btn-group{
            justify-content: start;
            gap: 30px;
        }

        .hero .right{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero .pattern-bg{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 200px;
            background: url('https://i.postimg.cc/BbZ2cnGb/pattern.png');
            background-size: contain;
            opacity: .2;
        }

        .hero .img-box{
            position: relative;
            z-index: 2;
        }

        .hero .shape{
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -42%) rotate(-28deg);
        }

        .hero .shape1{
            background: var(--accent);
            width: 90%;
            height: 90%;
            z-index: -1;
        }

        .hero .shape2{
            width: 92%;
            height: 92%;
            box-shadow: inset 0 -30px 0 var(--action-primary);
            z-index: 2;
        }

    .hero-img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0 0 280px 230px;
        transform: translate(10px, -10px);
    }

    .main .container{
        display: grid;
        grid-template-columns: 5fr 2fr;
        gap: 60px;
    }

    .aside{
        display: block;
        align-self: stretch;
    }

        .aside .h2{
            color: var(--foreground-secondary);
            margin-bottom: 3rem;
            text-align: center;
            line-height: 1.3;
        }

        .aside .wrapper{
            background: var(--background-primary);
            border-radius: 10px;
            padding: 40px;
            box-shadow: 0 5px 5px hsla(0, 0%, 0%, .05);
        }

    .topics{ margin-bottom: 3rem; }

    .topic-btn{
        display: flex;
        align-items: stretch;
        background: var(--background-primary);
        border-radius: 10px;
        box-shadow: 0 5px 5px hsla(0, 0%, 0%, .05);
        overflow: hidden;
    }
        .topic-btn:not(:last-child) { margin-bottom: 1rem; }

        .topic-btn .icon-box{
            font-size: 22px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--action-primary);
            color: var(--foreground-secondary);
            transition: .5s;
        }

            .topic-btn:hover .icon-box{
                background: var(--accent);
                color: var(--white);
            }

            .topic-btn ion-icon{ --ionic-stroke-width: 40px; }

            .topic-btn p{
                padding: 15px;
                color: var(--foreground-secondary);
                font-weight: 700;
            }

    .tags{ margin-bottom: 3rem; }

        .tags .wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 0.2rem;
        }

        .tags .hashtag{
            background: var(--action-primary);
            color: var(--foreground-secondary);
            padding: 5px 10px;
            font-size: var(--fs-5);
            font-weight: 700;
            border-radius: 5px;
            transition: .5s;
        }

            .tags .hashtag:hover{
                background: var(--foreground-secondary);
                color: var(--action-primary);
            }

    .contact{ margin-bottom: 3rem; }

        .contact p{
            color: var(--foreground-secondary);
            margin-bottom: 1rem;
        }

    .social-link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .social-link .icon-box{
            width: 45px;
            height: 45px;
            background: var(--action-secondary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
        }

            .social-link .icon-box:hover{
                background: var(--accent);
                color: var(--white);
            }

        .social-link .discord{ color: hsl(235, 86%, 65%); }
        .social-link .twitter{ color: hsl(203, 89%, 53%); }
        .social-link .facebook{ color: hsl(220, 46%, 48%); }

    .newsletter{
        position: sticky;
        top: 3rem;
        margin-bottom: 98px;
    }

        .newsletter p{
            color: var(--foreground-secondary);
            margin-bottom: 1rem;
        }

        .newsletter input{
            border: none;
            background: var(--action-primary);
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            font: inherit;
            color: var(--foreground-secondary);
            border-radius: 5px;
            margin-bottom: 1rem;
        }

            .newsletter input::placeholder { color: inherit; }
            .newsletter input:focus{
                outline: 2px solid;
                outline-offset: 0;
            }

        .newsletter .btn-primary{
            margin-inline: auto;
            margin: auto;
        }
        
    .footer-title{ font-size: 1.125rem; }
    .footer-link{ margin-bottom: .3rem; }

}
